/* ROUET--COIRIER Raphaël PESCE Diego */
body{
    background-color: #808080;
    font-family: Arial;
}
section{
    background-color: white;
    padding-left: 120px;
    padding-top: 20px;
    border-radius: 10px;
    margin-right: 100px;
    margin-bottom:40px;
    padding-right: 300px;
}
article{
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
}
button{
    background-color:#0EA5B7;
    border-radius: 10px;
    border:none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}
#a1,#a2,#a3,#b1,#b2,#b3,#c1,#c2,#c3{
    background-color:#0EA5B7;
    border-radius: 10px;
    border:none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}
input{
    margin-left: 50px;
}
th,table,td{
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    padding: 5px;
}
select{
    margin-left: 50px;
}
#l3{
    margin-right: 50px;
}
#graficoBurbujas {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: 20px;
}

.contenedorBurbuja {
    text-align: center;
}

.burbuja {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto;
}